
body {
	background-image: url('images/backgroundseamless1.jpg');
	font-size: 90%; /* base font-size = 14px */
	font-family: Arial, 'Lucida Sans Uncode';
	line-height: 1.5;
	text-align: left;
}

a {text-decoration: none;}
a:link, a:visited {color: #e74c3c;}
a:hover, a:active {color: #f58233;}


.body {
	margin: 10px auto;
	width: 70%;
	clear: both;
}

/*---------MAIN HEADER ---------*/

.mainheader img {
	width: 100%;
}

.mainheader nav {
	background-color: #e74c3c;
	height: 40px;
	border-radius: 5px;
}

.mainheader nav ul {
	text-align: center;
	list-style: none;
	margin: 0 auto;
}

.mainheader nav ul li {
	display: inline;

}

.mainheader a:link, .mainheader a:visited {
	color: white;
	padding: 10px 40px;
	display: inline-block;
	height: 20px;
}

.mainheader a:hover, .mainheader a:active {
	color: white;
	background-color: #f58233;
	text-shadow: none;
}

/*---------MAIN CONTENT ---------*/
.container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 10px;
}
header {
	grid-column: 1 / 3;
	grid-row: 1;
}

article {
	grid-column: 2;
	grid-row: 2;
}

aside {
	grid-column: 1;
	grid-row: 2;
}

footer {
	grid-column: 1 / 3;
	grid-row: 3;
}

header,
footer {
	border-radius: 5px;
	padding: 1px;
	background-color: white;
	border: 1px ;
	color: #999;
	margin: 1px 0 0 1px;
	text-align: left;
}

aside {
	border-right: 1px solid #999;
}  

/*---------FOOTER ---------*/

.footer {
	margin-top: 20px;
	float: left;
	width: 100%;
	background-color: #e74c3c;
	height: 50px;
	border-radius: 5px;
	margin: 10px auto;
}

.footer p {
	text-align: center;
	color: white;
	font-size: 14px;
}


@media only screen and ( min-width: 160px) and (max-width: 600px)

{

	body {

		margin-right: 0;

	}

	.body {

		margin-right: 0;
	}

	.mainheader img {
		width: 100%;
		height: auto;
		margin:0;
	}

	.meanheader nav{
		height: 160px;



	}

	.mainheader nav ul {
		padding-right: 40%;
		margin-right: 5%;


	}

	.mainheader nav ul li {
		width: 100%;
		text-align: center;


	}

	.container {

		width: 100%;
		float: right;
		margin-top: 50%;
		margin-right :5%;
	}


	.footer,p {
		width: 100%;
		float: right;
		margin: 1.5%;
		margin-right: 5%;
		text-align: center;

	}

	.mainheader a:link, .mainheader a:visited {
		width: 100%;
		text-align: center;
		color: black;
		padding-bottom: 2%;
		margin-right: 

	

	}

	.mainheader a:hover, .mainheader a:active {
		width: 100%;
		text-align: center;

	}
}


