body {
  background-image: url('images/backgroundseamless1.jpg');
  font-size: 90%; /* base font-size = 14px */
  font-family: Arial, 'Lucida Sans Uncode';
  line-height: 1.5;
  text-align: left;
  margin: 0;
}

a {text-decoration: none;}
a:link, a:visited {color: #e74c3c;}
a:hover, a:active {color: #f58233;}


.body {
  margin: 10px auto;
  width: 70%;
  clear: both;
}

/*---------MAIN HEADER ---------*/

.mainheader img {
  width: 100%;
}

.mainheader nav {
  background-color: #e74c3c;
  height: 40px;
  border-radius: 5px;
}

.mainheader nav ul {
  text-align: center;
  list-style: none;
  margin: 0 auto;
}

.mainheader nav ul li {
  display: inline;

}

.mainheader a:link, .mainheader a:visited {
  color: white;
  padding: 10px 40px;
  display: inline-block;
  height: 20px;
}

.mainheader a:hover, .mainheader a:active {
  color: white;
  background-color: #f58233;
  text-shadow: none;
}

/*---------MAIN CONTENT ---------*/

h1 {
  text-align: center;
  color: orange;
  margin: 30px 0 50px;
}

.gallery {
  margin: 10px 50px;

}

.gallery img {
  padding: 5px;
  width: 230px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

/*----------------footer-------------*/
.footer {
  margin-top: 20px;
  float: left;
  width: 100%;
  background-color: #e74c3c;
  height: 50px;
  border-radius: 5px;
  margin: 10px auto;
}

.footer p {
  text-align: center;
  color: white;
  font-size: 14px;
}


@media only screen and ( min-width: 160px) and (max-width: 600px)

{

  body {

    margin-right: 0;

  }

  .body {

    margin-right: 0;
  }

  .footer,p {
    width: 100%;
    float: right;
    margin: 1.5%;
    margin-right: 5%;
    text-align: center;

  }

  .mainheader a:link, .mainheader a:visited {
    width: 100%;
    text-align: center;
    color: black;
    padding-bottom: 2%;
    margin-right: 

  }

  .mainheader a:hover, .mainheader a:active {
    width: 100%;
    text-align: center;
  }

  .maincontent {

    width: 100%;
    float: right;
    margin-top: 55%;
    margin-right :5%;
  }

  h1 {
  margin-top: 60%;

  }
