body {
  background-image: url('images/backgroundseamless1.jpg');
  font-size: 90%; /* base font-size = 14px */
  font-family: Arial, 'Lucida Sans Uncode';
  line-height: 1.5;
  text-align: left;
}

a {text-decoration: none;}
a:link, a:visited {color: #e74c3c;}
a:hover, a:active {color: #f58233;}


.body {
  margin: 10px auto;
  width: 70%;
  clear: both;
}

/*---------MAIN HEADER ---------*/

.mainheader img {
  width: 100%;
}

.mainheader nav {
  background-color: #e74c3c;
  height: 40px;
  border-radius: 5px;
}

.mainheader nav ul {
  text-align: center;
  list-style: none;
  margin: 0 auto;
}

.mainheader nav ul li {
  display: inline;

}

.mainheader a:link, .mainheader a:visited {
  color: white;
  padding: 10px 40px;
  display: inline-block;
  height: 20px;
}

.mainheader a:hover, .mainheader a:active {
  color: white;
  background-color: #f58233;
  text-shadow: none;
}

/*---------MAIN CONTENT ---------*/



.header1 {
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  border: 1px;
  color: #999;
  margin: 2px 0 0 2px;
  text-align: left;

  height: 60px;

}



h3 {

  text-align: left;

  color: grey;

  line-height: 100px;

  padding: 10px;
  margin: -25px 0 0 2px;
}



article {

  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(241, 172, 135, 0.1);


}



/* Add your flexbox CSS below here */



section {

  display: flex;
  flex-wrap: wrap-reverse;

}



article {

  flex: 100px;

}



article:nth-of-type(3) {

  flex: 3 100px;

  display: flex;

  flex-flow: column;

}



article:nth-of-type(3) div:first-child {

  flex: 1 100px;

  display: flex;

  flex-flow: row;

  align-items: center;

  justify-content: space-around;

}



button {

  flex: 1 auto;

  margin: 5px;

  font-size: 14px;

  line-height: 1.5;

}

/*---------FOOTER ---------*/

.footer {
  margin-top: 20px;
  float: left;
  width: 100%;
  background-color: #e74c3c;
  height: 50px;
  border-radius: 5px;
  margin: 10px auto;
}

.footer p {
  text-align: center;
  color: white;
  font-size: 14px;
}
